# Custom
input
.vscode
# IPython Notebook
# .ipynb_checkpoints/
processed_input
input
stacking_input
submissions

# pyenv
.python-version
# Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
